doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width', 'initial-scale=1', 'shrink-to-fit=no')
        title= test
    body
        div(class='main container')
            div(class='text-center py-3')
                h1.title-size Представлен в брендах
            div(class='btn-group row no-gutters w-100 mb-3 justify-content-md-center sm-head-button head-group' role='group')
                - var btnStyle = ['button-head col-12 mx-md-1 col-md-2 col-sm-3 btn text-center py-4 py-md-3']
                mixin btn(classImg, title)
                    button(type="button" class=classImg class=btnStyle) <span> #{title} </span>
                +btn('', 'Все бренды')
                +btn('btn-img-bonf')
                +btn('btn-img-cook')
                +btn('btn-img-vill')
            div(class='row p-0 mt-1 list-product')
                -
                    var chessList = [
                        {image: "images/cream_green.png", subtitle: "Сыр мягкий", chessName: "Кремчиз", chessNameSubtitle: "тар-тар", title: "Прекрастно заменяет классический французкий соус желтка, растительного масла и зелёного лука."},
                        {image: "images/cream_orange.png", subtitle: "Сыр мягкий", chessName: "Кремчиз", chessNameSubtitle: "тар-тар", title: "Прекрастно заменяет классический французкий соус желтка, растительного масла и зелёного лука."},
                        {image: "images/cream_red.png", subtitle: "Сыр мягкий", chessName: "Кремчиз", chessNameSubtitle: "неаполитанский", title: "Идеален для курицы, отлично сочетается с говядиной в блюдах среднеземнаморской кухни."},
                        {image: "images/cream_red.png", subtitle: "Сыр мягкий", chessName: "Кремчиз", chessNameSubtitle: "неаполитанский", title: "Идеален для курицы, отлично сочетается с говядиной в блюдах среднеземнаморской кухни."},
                        {image: "images/cream_green.png", subtitle: "Сыр мягкий", chessName: "Кремчиз", chessNameSubtitle: "тар-тар", title: "Прекрастно заменяет классический французкий соус желтка, растительного масла и зелёного лука."}
                        ];
                - var product = ['col-12 col-md-6 col-lg-4 mb-4'];
                mixin product-chess(chess)
                    -var img = chess.image
                    div(class=product)
                        img(class='w-100' src=img alt='')
                        h6(class='mb-0 pt-1 col-10 p-0 mt-2') #{chess.subtitle}
                        a(href='#')
                            span(class='text-uppercase display-6 d-flex descr-size col-4 p-0') #{chess.chessName}
                            span #{chess.chessNameSubtitle}
                        button(type='button' class='btn btn-img-bonf_mini col-12 py-3 my-2')
                        div(class='product-chesss mx-auto p-0') #{chess.title}
                for chess in chessList
                    +product-chess(chess)